aiohttp==3.8.4
autopep8==2.0.2
faiss-cpu==1.7.3
fastapi==0.94.0
httpx==0.23.3
nest-asyncio==1.5.6
pillow==9.4.0
pytest==7.2.2
pytest-cov==4.0.0
pytest-mock==3.10.0
python-multipart==0.0.6
numpy=1.23.5
tensorflow==2.11.1
uvicorn==0.21.0